---
const { pathname } = Astro.url;

import { socials, pages } from '../assets/data.ts';
import CheckCircleIcon from "./icons/CheckCircleIcon.astro";
import MobileNavbar from './MobileNavbar.astro';
import BadgeShine from './ui/BadgeShine.astro';
---


<nav class="md:flex hidden fixed w-full h-16 items-center md:justify-between xs:justify-center px-4 md:px-24 py-3 top-0 z-50 bg-gray-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 ">
    <ul 
        class="hidden md:flex justify-items-center items-center gap-x-4"
    >
        {socials.map((social) => (
            <li>
                <a 
                    href={social.href} 
                    target="_blank" 
                    rel="noreferrer"
                    class="text-sm duration-300 ease-in cursor-pointer flex items-center gap-x-2"
                >
                    <social.icon color={social.color} class='size-4' />
                    <span class="">{social.name}</span>
                </a>
            </li>
        ))}
        <li class="">

            <BadgeShine class='flex items-center gap-1 border-gray-800 bg-[linear-gradient(110deg,#080821,45%,#4ade80,55%,#080821)]'>
                <span >
                    Available to work
                </span>
                <CheckCircleIcon  color="#4ade80 " class='size-4' />
            </BadgeShine>
        </li>
    </ul>
    <ul 
        class="flex gap-x-3 items-center"
    >
        {pages.map((page) => (
            <li class="hover:text-white">
                <a 
                    href={page.href}
                    class={`text-sm opacity-70 hover:opacity-100 duration-300 ease-in cursor-pointer ${pathname === page.href ? 'opacity-100' : ''}`}
                >
                    {page.name}
                </a>
            </li>
        ))}
    </ul>
</nav>

<MobileNavbar />
