---
const { pathname } = Astro.url;

import { socials, pages } from '../assets/data.ts';
import CheckCircleIcon from "./icons/CheckCircleIcon.astro";
---


<nav class="fixed w-full h-16 flex items-center md:justify-between xs:justify-center px-4 md:px-24 py-3 top-0 z-50 bg-gray-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 ">
    <ul 
        class="hidden md:flex justify-items-center items-center gap-x-4"
    >
        {socials.map((social) => (
            <li>
                <a 
                    href={social.href} 
                    target="_blank" 
                    rel="noreferrer"
                    class="text-sm duration-300 ease-in cursor-pointer flex items-center gap-x-2"
                >
                    <social.icon color={social.color} class='size-4' />
                    <span class="">{social.name}</span>
                </a>
            </li>
        ))}
        <li class="flex gap-x-2 items-center bg-blue-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">
            <span >
                Available to work
            </span>
            <CheckCircleIcon  color="#4ade80 " class='size-4' />
        </li>
    </ul>
    <ul 
        class="flex gap-x-3 items-center"
    >
        {pages.map((page) => (
            <li class="hover:text-white">
                <a 
                    href={page.href}
                    class={`text-sm opacity-70 hover:opacity-100 duration-300 ease-in cursor-pointer ${pathname === page.href ? 'opacity-100' : ''}`}
                >
                    {page.name}
                </a>
            </li>
        ))}
    </ul>
</nav>
